@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', "Bodoni 72 Oldstyle", serif;
  font-weight: 400;
  letter-spacing: 0.1em;
}

body {
  padding: 40px 60px;
}

h1,
h2 {
  font-weight: 400;
}

