<mat-form-field class="example-full-width">
  <input #form
         matInput
         placeholder="Your favorite website">
</mat-form-field>
<button type="button"
        (click)="onSubmit(form)"
        mat-raised-button
        color="primary">submit</button>

<ul>
  <li>{{(item | async)}}</li>
</ul>
